
    <section class="terminos service-area sky-blue section-padding2" id="programa">
        <div class="container">
             
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7">
                    <div class="section-tittle ">
                        <h2 
                        style="padding-bottom: 20px; margin-bottom: 20px;">
                        Términos y Condiciones de los Sitios de E-Commerce provistos por 
                        Servicios Tecnológicos Trigo Ltda.&nbsp; &nbsp;</h2> 
                            <p>Los presentes Términos y Condiciones regulan los servicios puestos a disposición por Servicios Tecnológicos Trigo Ltda. (“TRIGO” o la “Compañía”) a los comercios y fundaciones (las “Empresas”) consistentes en la provisión de un sitio web o App de ventas online o comercio electrónico (“Sitio o App de E-Commerce”). <br>
                            
                            Por favor lea estos Términos y Condiciones cuidadosamente, teniendo en cuenta que mediante el uso de este Sitio o App de E-Commerce usted está indicando su aceptación a los mismos. Usted debe visitar esta página periódicamente para revisar los Términos y Condiciones debido a que los mismos son obligatorios para usted. <br>

                            Adicionalmente, recuerde que los precios, la transacción, límites de compras, idoneidad del producto, y demás condiciones de la transacción a través del Sitio o App E-commerce respectivo, son definidos por las Empresas y de ser necesario podrán estar regulados por los términos y condiciones dispuestos por la Empresa.                            
                            </p> <br>

                           <h3>Definiciones</h3> <br>

                           <p>Empresa: Es el comercio o fundación, ajenos a TRIGO, que contratan las herramientas tecnológicas o software puestas a disposición por TRIGO con el fin de que TRIGO le provea las herramientas de E-Commerce para crear su Sitio o App E-commerce. En tal sentido, las Empresas son las responsables exclusivas de los productos o servicios que comercializan a través de su Sitio o App E-commerce y son las encargadas de determinar las condiciones en las que se ofertan sus productos y con quienes finalmente los Usuarios celebran las transacciones de compraventa.</p> <br>

                           <p>Pasarela de pagos: Servicio prestado por terceros ajenos a TRIGO que permite el procesamiento y realización de pagos por parte de los Usuarios a las Empresas, a través de medios electrónicos. <br>

                            Sitio o App E-commerce: Es la página web o la App de la Empresa, el cual es controlado, operado y administrado por la Empresa bajo su nombre de dominio, y en el cual se exhiben y ofrecen los productos o servicios a los Usuarios. <br>

                            Usuario: Es la persona natural o jurídica que hace uso de las herramientas tecnológicas o software que ofrece el Sitio o App E-commerce, con el propósito de adquirir un producto o servicio ofertado por la Empresa. <br>
                            </p>
                                                     

                           <h3>Objeto </h3> <br>

                            <p>Los presentes Términos y Condiciones regulan los servicios provistos por TRIGO a la Empresa, los cuales facilitan la puesta a disposición de los servicios de pago adquiridos por los Usuarios. En consecuencia, TRIGO no es responsable de las condiciones bajo las que se celebren las transacciones entre el Usuario y la Empresa, si son equitativas y/o si se ejecutan idóneamente. </p> <br>

                            <h3>Términos y Condiciones de la Empresa</h3> <br>

                            <p>Para referencias y condiciones sobre los precios, la transacción, límites de compras, devolución de los productos o servicios, retracto de la transacción y demás condiciones de la celebración de la transacción entre el Usuario y la Empresa, diríjase directamente a los términos y condiciones establecidos por la Empresa.
                            </p>  <br>

                            <h3>Servicios ofrecidos por TRIGO en los Sitios o Apps de E-Commerce</h3> <br>    

                            <p>Independientemente de los productos o servicios ofrecidos por las Empresas que sean exhibidos en cada uno de los Sitios o App de E-Commerce, TRIGO prestará los siguientes servicios, limitándose a estos únicamente:</p>

                            <h3>Restricciones para algunos productos o servicios y protección de menores de edad: 
                            </h3> <br>  

                            <p>Para el acceso a los Sitios o App E-commerce y a los productos o servicios que ahí se ofrecen, es necesario ser mayor de edad (18 años) conforme a la legislación chilena, por lo que, al momento de realizar la transacción con las Empresas, el Usuario declara y garantiza que tiene la mayoría de edad requerida. <br>
                            Asimismo, debido a que legalmente no se permite suministrar ciertos productos o servicios a Usuarios que sean menores de edad, los Usuarios declaran que las personas que recibirán los productos o servicios de las Empresas son mayores de edad. <br>
                            TRIGO se reserva la facultad de requerir a los Usuarios (o a cualquier persona designada por éstos para recibir los productos o servicios) prueba de su mayoría de edad al momento de su acceso. 
                                </p> <br>
                             
                            <h3>Cancelación y devolución de los pedidos de productos o servicios:    </h3> <br>     
                            <p>Una vez confirmada la compra por el Usuario, no será posible cancelar o devolver el pedido a través del Sitio o App de E-Commerce. Cualquier solicitud respecto a devoluciones, derecho de retracto y/o cancelaciones de pedidos serán solicitados o acordados exclusivamente entre las Empresas y los Usuarios.</p> <br>
                            
                            <h3>Servicio al cliente:  </h3> <br>

                            <p>Los reclamos e inquietudes relacionadas con la idoneidad, características, uso o cambio de los productos o servicios, celebración y ejecución de las transacciones realizadas por el Usuario con la Empresa, deberán ser dirigidas a esta última a través de los canales previstos y dispuestos por las Empresas en el Sitio o App de E-Commerce.</p>   <br> 

                            <h3>Medios de Pago</h3> <br>       

                            <p>TRIGO pone a disposición de las Empresas medios o pasarelas de pago, operadas por terceros, para que los Usuarios puedan realizar los pagos de los productos o servicios adquiridos a las Empresas por medio de las mencionadas pasarelas de pagos. <br>
                            Los productos o servicios ofrecidos por las Empresas solo podrán ser pagados utilizando tarjetas de crédito o débito aceptadas por las respectivas pasarelas de pago. <br>
                            Las medidas de seguridad de su medio de pago serán aquellas que brinden las entidades financieras proveedoras de las tarjetas y/o las pasarelas de pago que utilice el Usuario. 
                            </p>       <br> 

                            <h3>Deberes de los Usuarios</h3> <br>

                            <h3>Con la aceptación de los presentes Términos y Condiciones, el Usuario se compromete a:
                            </h3>

                            <p>
                                Suministrar información veraz y fidedigna al momento de crear su Cuenta de Usuario; <br>
                                Hacer un uso responsable y correcto del Sitio o App E-commerce. <br>
                                Abstenerse de utilizar el Sitio o App E-commerce para realizar actos contrarios a la ley, especialmente aquellos relacionados con el derecho de propiedad intelectual de terceros. <br>
                                Informar a la Empresa cualquier usurpación o suplantación de identidad o de los datos de validación. <br>
                                Abstenerse de realizar conductas atentatorias del funcionamiento de los Sitios o App de E-commerce, así como violar o intentar violar su seguridad. Específicamente no podrán (i) acceder a servidores o cuentas a los cuales el usuario no está autorizado a ingresar; (ii) intentar probar la vulnerabilidad de un sistema o red sin la debida autorización o violar las medidas de seguridad o autenticación, (iii) intentar interferir con los servicios prestados a un usuario, servidor o red incluyendo, pero sin limitarse al envío de virus a través de los Sitios o Apps de E-commerce. La violación de cualquier sistema o red de seguridad puede resultar en responsabilidades civiles y penales. La Empresa o TRIGO investigará la ocurrencia de hechos que puedan constituir violaciones a lo anterior y cooperará con cualquier autoridad competente en la persecución de los usuarios que estén envueltos en tales violaciones. 

                            </p><br>
                                <h3>Responsabilidad </h3>  <br>  

                             <p>Respecto de la transacción: El Usuario sabe y declara que TRIGO, no toma decisiones ni asume responsabilidad sobre la calidad, idoneidad y condiciones de oferta de los productos o servicios que proveen las Empresas, lo que será de exclusiva responsabilidad de estas últimas. Por el contrario, el servicio ofrecido por la TRIGO, y en consecuencia su responsabilidad, se limita exclusivamente a poner a disposición de los Usuarios unas pasarelas de pago operadas por terceros. <br>
                                En ese sentido, el Usuario declara que será responsable por las decisiones que adopte al celebrar sus transacciones con las Empresas, asumiendo los riesgos comerciales o económicos de las mismas. Además, tiene pleno conocimiento y declara entender que cualquier queja y/o reclamo que pudiese tener con respecto a la idoneidad, de los productos o servicios, o en relación con la información brindada sobre los mismos y/o los términos de la transacción celebrada con las Empresas, deberán ser dirigidos directamente a estas. 
                                </p>   <br>


                               <h3>Tratamiento de datos personales</h3> <br>
                            
                               <p>TRIGO tratará los datos personales de los Usuarios a los que tenga acceso, conforme a lo dispuesto en las normas de protección de datos personales en los términos indicados en el aviso de privacidad.
                            </p> <br>
                            <h3>Propiedad intelectual de los contenidos
                            </h3> <br>
                            <p>Los signos distintivos utilizados para identificar a las Empresas y las Imágenes que puedan encontrarse en los Sitios o Apps de E-Commerce, son de propiedad o uso de las Empresas.</p> <br>
                    </div>
                </div>
           </div>
        </div>
    </section>

