<section class="best-features-area section-padd4" style="padding-top:125px !important" id="download">
  <div class="container">
    <div class="row justify-content-center"
      style="align-content: center; justify-content: center; align-items: center;">
      <div class="col-xl-12 col-lg-12">
        <!-- Section Tittle -->
        <div class="row">
          <div class="section-tittle text-center col-lg-12 col-md-12">
            <h3 style="margin-bottom:2px !important">Recupera tu contraseña</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <form>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3cg">Correo</label>
              <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4cg">Contraseña</label>
              <input type="password" id="password" class="form-control form-control-lg" formControlName="password" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4cdg">Repite tu contraseña</label>
              <input type="password" id="password" class="form-control form-control-lg" formControlName="password" />
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" style="border-radius:30px !important; color:white !important;"
                class="btn btn-block btn-lg gradient-custom-4 text-body">Regitrarme</button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">¿Ya tienes cuenta? <a routerLink="login"
                class="fw-bold text-body"><u>Ingresa aquí</u></a></p>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>