<section class="best-features-area section-padd4" style="padding-top:125px !important" id="download">

    <a (click)="logoutUser()" class="btn"><span>LOGOUT</span></a>
    <div class="container mb-1">
                       <!-- Section Tittle -->
                <!-- <div class="row"> -->
                    <div class="section-tittle text-center col-lg-12 col-md-12" style="margin-bottom:15px !important">
                             <h2  style="margin-bottom:2px !important">Aportar al programa Social CupoExpress</h2>
                    </div>
                </div>
            <!-- </div> -->
    
</section>



<div class="container">
    
        <div class="form-check d-flex flex-wrap justify-content-center">
        <div class="row col-lg-12 col-xl-12  d-flex justify-content-center  mb-15">    
            <div class="sobrecaja">
            <div class="caja mr-20 ml-20 pr-10 pl-10 mr-25 ml-25">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h2>$ 1.000</h2>  </label>
            </div></div>
            <div class="sobrecaja">
            <div class="caja mr-20 ml-20 pr-10 pl-10 mr-25 ml-25">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h2>$ 3.000</h2>  </label>
            </div></div>
            <div class="sobrecaja">
            <div class="caja mr-20 ml-20 pr-10 pl-10 mr-25 ml-25">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h2>$ 5.000</h2>  </label>
            </div> </div>
        </div>     
        
        <div class="row col-lg-12 col-xl-12 d-flex justify-content-center mt-15 mb-15">
            <div class="sobrecaja d-flex">
            <div class="caja mr-20 ml-20 pr-10 pl-10" style="border:1px !important; ">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h2>$ 7.000</h2>  </label>
            </div></div>

            <div class="sobrecaja">
            <div class="caja mr-20 ml-20 pr-10 pl-10">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h2>$ 10.000</h2>  </label>
            </div></div>

            <div class="sobrecaja">
            <div class="caja mr-20 ml-20 pr-10 pl-10">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h2>$ 15.000</h2>  </label>
            </div> </div>

            <div class="row col-lg-12 col-xl-12 d-flex justify-content-center mt-30 mb-30">
                <div class="slider-btns">
                    <!-- Hero-btn -->
                    <a data-animation="fadeInLeft" data-delay="1.0s" routerLink="" class="btn radius-btn">Seleccionar</a>
                    <!-- Video Btn -->
                   
               </div>
            </div>
       
        </div> </div>
       <br>

        <div class="section-tittle text-center col-lg-12 col-md-12" style="margin-bottom:15px !important">
            <h3  style="margin-bottom:2px !important">Frecuencia</h3>
        </div>
        <br>

        <div class="form-check-1 d-flex flex-wrap justify-content-center">
        <div class="row col-lg-12 col-xl-12 d-flex justify-content-center mt-15 mb-15">
            <div class="sobrecajaF">
            <div class="caja mr-20 ml-20 pr-10 pl-10" style="border:1px !important; ">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h4>Una vez</h4> 
                <p>Aporte único, sin frecuencia.</p>
            </label>
            </div></div>
        </div>
        
        <div class="row col-lg-12 col-xl-12 d-flex justify-content-center mt-15 mb-15">    
            <div class="sobrecajaF">
            <div class="caja mr-20 ml-20 pr-10 pl-10">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h4>Semanal</h4> 
                <p>Aporte automático por semana, puedes cancelar en cualquier momento.</p>
            </label>
            </div></div>
        </div>    

        <div class="row col-lg-12 col-xl-12 d-flex justify-content-center mt-15 mb-15">
            <div class="sobrecajaF d-flex">
            <div class="caja mr-20 ml-20 pr-10 pl-10" style="border:1px !important; ">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1" >
                <h4>Mensual</h4> 
                <p>Aporte mensualmente, puedes cancelar en cualquier momento.</p>  
            </label>
            </div></div>
        </div>

        <div class="row col-lg-12 col-xl-12 d-flex justify-content-center mt-30 mb-30">
            <div class="slider-btns">
                <!-- Hero-btn -->
                <a data-animation="fadeInLeft" data-delay="1.0s" routerLink="" class="btn radius-btn">Continuar</a>
                <!-- Video Btn -->
           </div>
        </div></div>
    </div>
     
    
    
    



