<section class="best-features-area section-padd4" style="padding-top:125px !important"  id="metodopago">
    <div class="container">
        <div class="row justify-content-center" style="align-content: center; justify-content: center; align-items: center;">
            <div class="col-xl-12 col-lg-12">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-tittle text-center" style="padding-left:10px !important; padding-right: 10px !important; margin-bottom:10px !important">
                            <h2 style="margin-bottom:30px !important">Agrega tu Metodo de Pago</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</section>

<div class="container">
<form action="#" class="credit-card-div d-flex justify-content-center">
    <div class="panel panel-default">
        <div class="panel-heading ">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Número de tarjeta" />
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="help-block text-muted small-font"> Mes de expiración</span>
                    <input type="text" class="form-control" placeholder="MM" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 " >
                    <span class="help-block text-muted small-font"> Año de expiración</span>
                    <input type="text" class="form-control" placeholder="YY" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="help-block text-muted small-font"> CCV</span>
                    <input type="text" class="form-control" placeholder="CCV" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70"  fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16" style="align-items: center; text-align:center">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
                    </svg>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 pad-adjust">

                    <input type="text" class="form-control" placeholder="Nombre de la Tarjeta" />
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 pad-adjust">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked class="text-muted"> Guarde los datos para realizar pagos rápidos <a
                                href="#"> </a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 col-sm-2 col-xs-2 pad-adjust d-flex justify-content-start">
                    <div class="slider-btns">
                        <!-- Hero-btn -->
                        <a data-animation="fadeInLeft" data-delay="1.0s" routerLink="/apoyar" class="btn radius-btn">CANCELAR</a>
                        <!-- Video Btn -->
                       
                   </div>
                    <!-- <input type="submit" class="btn radius-btn" value="CANCEL" /> -->
                </div>
                <div class="col-md-4 col-sm-2 col-xs-2 pad-adjust d-flex justify-content-end">
                    <div class="slider-btns">
                        <!-- Hero-btn -->
                        <a data-animation="fadeInLeft" data-delay="1.0s" href="/" class="btn radius-btn">APORTAR</a>
                        <!-- Video Btn -->
                       
                   </div>
                   
                </div>
            </div>

        </div>
    </div>
</form>

</div>
