<header id="header" class="header-size-sm border-bottom-0" data-sticky-shrink="false">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row justify-content-lg-between">

                <div id="logo" class="me-lg-5">
                    <a href="index.html" class="standard-logo" data-dark-logo="assets/demos/business/images/logo-dark.png"><img
                            src="assets/demos/business/logo.png" alt=""></a>
                    <a href="index.html" class="retina-logo"
                        data-dark-logo="assets/demos/business/images/logo-dark@2x.png"><img
                            src="assets/demos/business/images/logo@2x.png" alt=""></a>
                </div>
                <div class="header-misc">
                    <a href="demo-nonprofit-causes-single.html" class="button button-rounded button-light">
                        <div>Aportar</div>
                    </a>
                </div>
                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100">
                        <path
                            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                        </path>
                        <path d="m 30,50 h 40"></path>
                        <path
                            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                        </path>
                    </svg>
                </div>

                <nav class="primary-menu with-arrows me-lg-auto">
                    <ul class="menu-container align-self-start">
                        <li class="menu-item"><span class="menu-bg col-auto align-self-start d-flex"></span>
                        </li>
                        <li class="menu-item current"><a class="menu-link" href="demo-nonprofit.html">
                                <div>Inicio</div>
                            </a></li>
                        <li class="menu-item"><a class="menu-link" href="demo-nonprofit-about.html">
                                <div>La Fundacion</div>
                            </a></li>
                        <li class="menu-item"><a class="menu-link" href="demo-nonprofit-causes.html">
                                <div>Hazte Socio</div>
                            </a>
                            
                        </li>
                        <li class="menu-item"><a class="menu-link" href="demo-nonprofit-events.html">
                                <div>Noticias</div>
                            </a></li>
                        <li class="menu-item"><a class="menu-link btn-contact" href="#">
                                <div>Contacto</div>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header>